<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/servicos">Serviços</a>
        <a href="/sobre">Sobre</a>
    </nav>
    <h1>Sobre</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis laborum nobis quam suscipit similique laboriosam sint rerum velit, harum tempore.</p>
</body>
</html>